body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f9;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 22px;
  margin-left: 20px;
  margin-top: 20px;
}

.category-grid {
  margin-top: 260px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 40px;
}

h2 {
  margin-bottom: 20px;
  font-size: 25px;
}

p {
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
}

.card {
  background: #1e293b;
  color: white;
  padding: 35px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.card:hover {
  background: #334155;
  transform: scale(1.05);
}

.quiz-box {
  max-width: 550px;
  margin: 250px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.option-btn {
  width: 100%;
  height: 3rem;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #e5e7eb;
  font-size: 15px;
}

.correct {
  background: #22c55e;
  color: white;
}

.wrong {
  background: #ef4444;
  color: white;
}

.next-btn {
  margin-top: 15px;
  padding: 10px 20px;
}

.timer {
  font-weight: bold;
  color: #ef4444;
}